<%= form_for(@board, remote: ajax_submit) do |f| %>
  <div class="row">
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>

  <div class="row">
    <%= f.label 'Board name', class: 'two columns' %>
    <%= f.text_field :name, class: 'six columns' %>
  </div>

  <div class="row width-height-controls">
    <%= f.label :width, class: 'two columns' %>
    <%= f.number_field :width, class: 'two columns'  %>
    <%= f.label :height, class: 'two columns'  %>
    <%= f.number_field :height, class: 'two columns'  %>
  </div>

  <%= hidden_field_tag('tile_colors', @board.tile_colors.join(',')) %>

  <% if show_board %>
    <%= render partial: 'board', locals: { board: @board } %>
  <% end %>

  <div class="actions row">
    <%= f.submit class: 'four columns' %>

    <% if show_board %>
      <button type="button" class="reset four columns">All White!</button>
    <% end %>
  </div>
<% end %>