<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Width:</strong>
  <%= @board.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @board.height %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @board.created_at %>
</p>

<div class="board">
  <% tiles = @board.tiles %>
  <% 0.upto(@board.height - 1) do |row| %>

    <div class="row">
      <% 0.upto(@board.width - 1) do |column| %>
        <% tile = @board.tile_at(row, column) %>
        <div class="tile" style="background-color: <%= tile.hex_color %>"></div>
      <% end %>
    </div>

  <% end %>
  </div>

  <%= link_to 'Edit', edit_board_path(@board) %> |
  <%= link_to 'Back', boards_path %>
